In [15]:
import pandas as pd 
import numpy as np

In [16]:
df=pd.read_csv('../data/artificial_sales.csv')
df.sample(5)

,Day_Count,Day,StoreID,ProductName,Product_Calorie,Promo_applied,specials,mods,Amt,weather,Inflation_Percentage,Unemployment_Percentage
6121,468,Sunday,S002,Veggie Burger,625,NaN,No,No,27750.0,humid,3.2,1.7
4257,975,Wednesday,S001,Coke,100,NaN,No,No,16490.0,humid,3.1,1.4
4353,1071,Monday,S001,Coke,100,NaN,No,No,17000.0,cold,3.4,1.3
4455,79,Wednesday,S001,Chk Burger,700,NaN,No,No,14620.0,very hot,3.0,1.9
14243,750,Tuesday,S003,Cheese Burger,800,NaN,No,No,7000.0,hot,3.2,1.3

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17606 entries, 0 to 17605
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Day_Count                17606 non-null  int64
 1   Day                      17583 non-null  object
 2   StoreID                  17606 non-null  object
 3   ProductName              17606 non-null  object
 4   Product_Calorie          17606 non-null  int64
 5   Promo_applied            1411 non-null   object
 6   specials                 17606 non-null  object
 7   mods                     17606 non-null  object
 8   Amt                      17605 non-null  float64
 9   weather                  17606 non-null  object
 10  Inflation_Percentage     17571 non-null  float64
 11  Unemployment_Percentage  17606 non-null  float64
dtypes: float64(3), int64(2), object(7)
memory usage: 1.6+ MB

In [18]:
df.describe()

,Day_Count,Product_Calorie,Amt,Inflation_Percentage,Unemployment_Percentage
count,17606.000000,17606.000000,1.760500e+04,17571.000000,17606.000000
mean,545.408667,513.716063,2.242079e+05,3.568989,1.655524
std,315.268299,257.604960,8.322079e+05,1.411191,0.598976
min,1.000000,0.000000,-4.000000e+02,1.700000,1.000000
25%,272.000000,400.000000,9.000000e+03,2.800000,1.100000
50%,541.000000,625.000000,1.335000e+04,3.100000,1.440000
75%,823.000000,700.000000,2.000000e+04,4.800000,1.900000
max,1094.000000,800.000000,5.355000e+06,7.000000,3.200000

In [19]:
df = df.sort_values('Day_Count')

cutoff = int(df.shape[0] * 0.8)
cutoff_day = df.iloc[cutoff]['Day_Count']

df_train = df[df['Day_Count'] < cutoff_day]
df_test = df[df['Day_Count'] >= cutoff_day]

In [20]:
print("Cutoff day:", cutoff_day)

Cutoff day: 870

In [21]:
df_train.to_csv('../data/train.csv', index=False)
df_test.to_csv('../data/test.csv', index=False)

In [22]:
df_train = pd.read_csv('../data/train.csv')

In [23]:
df_train.columns

Index(['Day_Count', 'Day', 'StoreID', 'ProductName', 'Product_Calorie',
       'Promo_applied', 'specials', 'mods', 'Amt', 'weather',
       'Inflation_Percentage', 'Unemployment_Percentage'],
      dtype='object')

In [24]:
for column in ['StoreID', 'ProductName', 'Promo_applied', 'specials', 'mods', 'weather']:
    print(column,' : ',df_train[column].unique())
    print()

StoreID  :  ['S001' 'S002' 'S003']

ProductName  :  ['VBurger' 'Fries' 'Coca-Cola' 'Chz Burger' 'Chicken Burger'
 'Veggie Burger' 'Cheese Burger' 'V. Burger' 'Chk Burger' 'Chicken Brg'
 'Extra Cheese' 'Carmalized Onions' 'X-CHeese' 'NO TOMATOES'
 'Falafel Burger' 'Coke' 'Fast Please' 'No Chz' 'No Lettuce'
 'Absolute no cheese' 'F Burger' 'No Tom Plz' 'Veg Burger' 'Chicken Br']

Promo_applied  :  [nan '1' 'Yes' 'Disc']

specials  :  ['No' 'nO' 'Yes' 'Y' 'N']

mods  :  ['No' 'Y']

weather  :  ['cold' 'hot' 'very hot' 'humid' 'rainy' 'very cold']

In [25]:
df_train['Promo_applied'] = df_train['Promo_applied'].map({
    '1': 1,
    'Yes': 1,
    'Disc': 1,
    np.nan: 0
}).fillna(0).astype(int)

In [26]:
df_train['specials']=df_train['specials'].map({
    'Yes':1,
    'No':0,
    'Y':1,
    'N':0,
    'nO':0
})

In [27]:
df_train['mods']=df_train['mods'].map({
    'Y':1,
    'No':0
})

In [28]:
(df.groupby('Day_Count')['Day'].nunique() > 1).any()
#checking if day count is consistent with day

np.False_

In [29]:
df_train['Day'].isna().sum()

np.int64(18)

In [30]:
df_train[df_train['Day'].isna()]

,Day_Count,Day,StoreID,ProductName,Product_Calorie,Promo_applied,specials,mods,Amt,weather,Inflation_Percentage,Unemployment_Percentage
8330,512,NaN,S003,Chicken Brg,700,0,0,0,8330.0,hot,4.8,1.1
8331,512,NaN,S002,Veggie Burger,625,0,0,0,18750.0,rainy,4.8,1.1
8332,512,NaN,S001,Cheese Burger,800,0,0,0,8600.0,very hot,4.8,1.1
8333,512,NaN,S003,Falafel Burger,700,0,1,0,8370.0,very hot,4.8,1.1
8334,512,NaN,S002,Coca-Cola,100,0,0,0,19635.0,rainy,4.8,1.1
8335,512,NaN,S001,Fries,400,0,0,0,9675.0,very hot,4.8,1.1
8336,512,NaN,S001,Chk Burger,700,0,0,0,13090.0,cold,4.8,1.1
8337,512,NaN,S003,Coca-Cola,100,0,0,0,20060.0,rainy,4.8,1.1
8338,512,NaN,S003,Fries,400,0,0,0,12000.0,humid,4.8,1.1
8339,512,NaN,S002,Fries,400,0,0,0,11400.0,rainy,4.8,1.1
8340,512,NaN,S003,V. Burger,625,0,0,0,3463750.0,hot,4.8,1.1
8341,512,NaN,S001,Coke,100,0,0,0,16915.0,cold,4.8,1.1
8342,512,NaN,S001,Veg Burger,625,0,0,0,7000.0,hot,4.8,1.1
8343,512,NaN,S001,F Burger,700,0,1,0,NaN,humid,4.8,1.1
8344,512,NaN,S002,Chicken Burger,700,0,0,0,8330.0,humid,4.8,1.1
8345,512,NaN,S002,Chz Burger,800,0,0,0,7000.0,cold,4.8,1.1
8346,512,NaN,S003,Cheese Burger,800,0,0,0,6400.0,very cold,4.8,1.1
8347,512,NaN,S002,Falafel Burger,700,0,1,0,8910.0,hot,4.8,1.1

In [31]:
df_train[(df_train['Day_Count']==511) | (df_train['Day_Count']==513)]

,Day_Count,Day,StoreID,ProductName,Product_Calorie,Promo_applied,specials,mods,Amt,weather,Inflation_Percentage,Unemployment_Percentage
8311,511,Monday,S001,Veg Burger,625,0,0,0,7375.0,humid,4.8,1.1
8312,511,Monday,S002,Falafel Burger,700,0,1,0,9180.0,cold,4.8,1.1
8313,511,Monday,S001,Coke,100,0,0,0,16405.0,cold,4.8,1.1
8314,511,Monday,S002,Fries,400,0,0,0,11925.0,rainy,4.8,1.1
8315,511,Monday,S003,V. Burger,625,0,0,0,3463750.0,very cold,4.8,1.1
8316,511,Monday,S003,Coca-Cola,100,0,0,0,19975.0,very hot,4.8,1.1
8317,511,Monday,S001,Chk Burger,700,0,0,0,12410.0,hot,4.8,1.1
8318,511,Monday,S001,Fries,400,0,0,0,10500.0,cold,4.8,1.1
8319,511,Monday,S003,Fries,400,0,0,0,12225.0,hot,4.8,1.1
8320,511,Monday,S002,Coca-Cola,100,0,0,0,19295.0,rainy,4.8,1.1
8321,511,Monday,S001,Cheese Burger,800,0,0,0,9000.0,hot,4.8,1.1
8322,511,Monday,S002,Extra Cheese,100,0,0,1,0.0,rainy,4.8,1.1
8323,511,Monday,S001,F Burger,700,0,1,0,8505.0,hot,4.8,1.1
8324,511,Monday,S003,Falafel Burger,700,0,1,0,8910.0,humid,4.8,1.1
8325,511,Monday,S002,Veggie Burger,625,0,0,0,21375.0,cold,4.8,1.1
8326,511,Monday,S002,Chicken Burger,700,0,0,0,8160.0,rainy,4.8,1.1
8327,511,Monday,S003,Cheese Burger,800,0,0,0,6400.0,rainy,4.8,1.1
8328,511,Monday,S003,Chicken Brg,700,0,0,0,7990.0,humid,4.8,1.1
8329,511,Monday,S002,Chz Burger,800,0,0,0,6200.0,rainy,4.8,1.1
8348,513,Wednesday,S003,Chicken Brg,700,0,0,0,8500.0,very cold,4.8,1.1
8349,513,Wednesday,S003,Fries,400,0,0,0,12450.0,very hot,4.8,1.1
8350,513,Wednesday,S002,Coca-Cola,100,0,0,0,21845.0,very cold,4.8,1.1
8351,513,Wednesday,S002,Chicken Burger,700,0,0,0,8330.0,rainy,4.8,1.1
8352,513,Wednesday,S002,Veggie Burger,625,0,0,0,22500.0,cold,4.8,1.1
8353,513,Wednesday,S001,F Burger,700,0,1,0,8505.0,very hot,4.8,1.1
8354,513,Wednesday,S003,Falafel Burger,700,0,1,0,8910.0,rainy,4.8,1.1
8355,513,Wednesday,S003,Cheese Burger,800,0,0,0,6800.0,humid,4.8,1.1
8356,513,Wednesday,S002,Chz Burger,800,0,0,0,7200.0,hot,4.8,1.1
8357,513,Wednesday,S001,Cheese Burger,800,0,0,0,9600.0,cold,4.8,1.1
8358,513,Wednesday,S002,Falafel Burger,700,0,1,0,9450.0,hot,4.8,1.1
8359,513,Wednesday,S002,Fries,400,0,0,0,12525.0,rainy,4.8,1.1
8360,513,Wednesday,S001,Coke,100,0,0,0,17680.0,cold,4.8,1.1
8361,513,Wednesday,S001,Chk Burger,700,0,0,0,13770.0,cold,4.8,1.1
8362,513,Wednesday,S003,V. Burger,625,0,0,0,3655000.0,humid,4.8,1.1
8363,513,Wednesday,S001,Veg Burger,625,0,0,0,6750.0,very hot,4.8,1.1
8364,513,Wednesday,S003,Coca-Cola,100,0,0,0,21420.0,humid,4.8,1.1
8365,513,Wednesday,S001,Fries,400,0,0,0,10650.0,hot,4.8,1.1

In [32]:
df_train['Day'] = df_train['Day'].fillna('Tuesday')
df_train.isna().sum()

Day_Count                   0
Day                         0
StoreID                     0
ProductName                 0
Product_Calorie             0
Promo_applied               0
specials                    0
mods                        0
Amt                         1
weather                     0
Inflation_Percentage       19
Unemployment_Percentage     0
dtype: int64

In [33]:
df_train['Day'].unique()

array(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday',
       'Monday', '6'], dtype=object)

In [34]:
df_train[df_train['Day']=='6']

,Day_Count,Day,StoreID,ProductName,Product_Calorie,Promo_applied,specials,mods,Amt,weather,Inflation_Percentage,Unemployment_Percentage
3278,200,6,S002,Chz Burger,800,0,0,0,8200.0,hot,2.8,2.2
3279,200,6,S002,Fries,400,0,0,0,17175.0,cold,2.8,2.2
3280,200,6,S003,Chicken Brg,700,0,0,0,9010.0,rainy,2.8,2.2
3281,200,6,S002,Chicken Burger,700,0,0,0,8840.0,hot,2.8,2.2
3282,200,6,S001,Coca-Cola,100,0,0,0,21590.0,hot,2.8,2.2
3283,200,6,S001,VBurger,625,0,0,0,14375.0,humid,2.8,2.2
3284,200,6,S002,Veggie Burger,625,0,0,0,19875.0,humid,2.8,2.2
3285,200,6,S003,V. Burger,625,0,0,0,3570000.0,very hot,2.8,2.2
3286,200,6,S001,Chk Burger,700,0,0,0,21760.0,hot,2.8,2.2
3287,200,6,S001,Cheese Burger,800,0,0,0,16000.0,very hot,2.8,2.2
3288,200,6,S003,Cheese Burger,800,0,0,0,8800.0,humid,2.8,2.2
3289,200,6,S003,Coca-Cola,100,0,0,0,32555.0,cold,2.8,2.2
3290,200,6,S003,Fries,400,0,0,0,16200.0,very hot,2.8,2.2
3291,200,6,S001,Fries,400,0,0,0,13125.0,hot,2.8,2.2
3292,200,6,S002,Coca-Cola,100,0,0,0,26265.0,rainy,2.8,2.2

In [35]:
df_train[df_train['Day_Count'].between(195, 205)][['Day_Count', 'Day']].drop_duplicates()

      Day_Count        Day
3200        195     Sunday
3216        196     Monday
3231        197    Tuesday
3247        198  Wednesday
3263        199   Thursday
3278        200          6
3293        201   Saturday
3308        202     Sunday
3324        203     Monday
3341        204    Tuesday
3357        205  Wednesday

In [36]:
df_train['Day']=df_train['Day'].replace('6', 'Friday')

In [37]:
df_train.dropna(subset=['Amt'], inplace=True)

In [38]:
df_train[df_train['Inflation_Percentage'].isna()]

,Day_Count,Day,StoreID,ProductName,Product_Calorie,Promo_applied,specials,mods,Amt,weather,Inflation_Percentage,Unemployment_Percentage
7565,471,Wednesday,S003,Cheese Burger,800,0,0,0,6600.0,humid,NaN,1.7
7566,471,Wednesday,S003,V. Burger,625,0,0,0,3952500.0,cold,NaN,1.7
7567,471,Wednesday,S003,Fries,400,0,0,0,12825.0,humid,NaN,1.7
7568,471,Wednesday,S002,Fries,400,0,0,0,12750.0,humid,NaN,1.7
7569,471,Wednesday,S002,Extra Cheese,100,0,0,1,0.0,cold,NaN,1.7
7570,471,Wednesday,S003,Falafel Burger,700,0,1,0,9450.0,cold,NaN,1.7
7571,471,Wednesday,S001,Cheese Burger,800,0,0,0,8800.0,rainy,NaN,1.7
7572,471,Wednesday,S001,VBurger,625,0,0,0,7125.0,very hot,NaN,1.7
7573,471,Wednesday,S002,Chicken Burger,700,0,0,0,7990.0,rainy,NaN,1.7
7574,471,Wednesday,S001,Coca-Cola,100,0,0,0,18020.0,cold,NaN,1.7
7575,471,Wednesday,S003,Coca-Cola,100,0,0,0,21675.0,hot,NaN,1.7
7576,471,Wednesday,S001,Fries,400,0,0,0,10425.0,very hot,NaN,1.7
7577,471,Wednesday,S001,F Burger,700,0,1,0,9180.0,very hot,NaN,1.7
7578,471,Wednesday,S002,Falafel Burger,700,0,1,0,9855.0,cold,NaN,1.7
7579,471,Wednesday,S002,Coca-Cola,100,0,0,0,20740.0,rainy,NaN,1.7
7580,471,Wednesday,S001,Chk Burger,700,0,0,0,12750.0,rainy,NaN,1.7
7581,471,Wednesday,S002,Chz Burger,800,0,0,0,6800.0,hot,NaN,1.7
7582,471,Wednesday,S003,Chicken Brg,700,0,0,0,9010.0,humid,NaN,1.7
7583,471,Wednesday,S002,Veggie Burger,625,0,0,0,20250.0,rainy,NaN,1.7

In [39]:
df_train.groupby('Day_Count')['Inflation_Percentage'].nunique().max()

np.int64(1)

In [40]:
df_train[df_train['Day_Count'].between(461, 481)][['Day_Count', 'Inflation_Percentage']].drop_duplicates()

      Day_Count  Inflation_Percentage
7379        461                   3.2
7398        462                   3.2
7417        463                   3.2
7435        464                   3.2
7453        465                   3.2
7471        466                   3.2
7492        467                   3.2
7510        468                   3.2
7529        469                   3.2
7547        470                   3.2
7565        471                   NaN
7584        472                   4.8
7602        473                   4.8
7621        474                   4.8
7640        475                   4.8
7659        476                   4.8
7679        477                   4.8
7697        478                   4.8
7717        479                   4.8
7735        480                   4.8
7754        481                   4.8

In [41]:
df_train['Inflation_Percentage'] = df_train['Inflation_Percentage'].fillna(4.0)

In [42]:
df_train.groupby('Day_Count')['Unemployment_Percentage'].nunique().max()

np.int64(1)

In [43]:
df_train.isna().sum()

Day_Count                  0
Day                        0
StoreID                    0
ProductName                0
Product_Calorie            0
Promo_applied              0
specials                   0
mods                       0
Amt                        0
weather                    0
Inflation_Percentage       0
Unemployment_Percentage    0
dtype: int64

In [44]:
for column in ['StoreID', 'ProductName', 'Promo_applied', 'specials', 'mods', 'weather']:
    print(column,' : ',df_train[column].unique())
    print()

StoreID  :  ['S001' 'S002' 'S003']

ProductName  :  ['VBurger' 'Fries' 'Coca-Cola' 'Chz Burger' 'Chicken Burger'
 'Veggie Burger' 'Cheese Burger' 'V. Burger' 'Chk Burger' 'Chicken Brg'
 'Extra Cheese' 'Carmalized Onions' 'X-CHeese' 'NO TOMATOES'
 'Falafel Burger' 'Coke' 'Fast Please' 'No Chz' 'No Lettuce'
 'Absolute no cheese' 'F Burger' 'No Tom Plz' 'Veg Burger' 'Chicken Br']

Promo_applied  :  [0 1]

specials  :  [0 1]

mods  :  [0 1]

weather  :  ['cold' 'hot' 'very hot' 'humid' 'rainy' 'very cold']

In [45]:
product_map = {
    'VBurger': 'Veg Burger',
    'Veggie Burger': 'Veg Burger',
    'V. Burger': 'Veg Burger',
    'Veg Burger': 'Veg Burger',
    
    'Fries': 'Fries',    

    'F Burger': 'Falafel Burger',
    'Falafel Burger': 'Falafel Burger',
    
    'Chz Burger': 'Cheese Burger',
    'Cheese Burger': 'Cheese Burger',

    'Chicken Burger': 'Chicken Burger',
    'Chk Burger': 'Chicken Burger',
    'Chicken Brg': 'Chicken Burger',
    'Chicken Br': 'Chicken Burger',

    'Coca-Cola': 'Coca-Cola',
    'Coke': 'Coca-Cola',

    # Instructions — 'Custom Order'
    'X-CHeese': 'Custom',
    'NO TOMATOES': 'Custom',
    'No Tom Plz': 'Custom',
    'No Chz': 'Custom',
    'Absolute no cheese': 'Custom',
    'No Lettuce': 'Custom',
    'Fast Please': 'Custom',
    'Extra Cheese': 'Custom',
    'Carmalized Onions': 'Custom',
}

In [46]:
df_train['ProductName'] = df_train['ProductName'].map(product_map)

In [47]:
df_train['ProductName'].unique()

array(['Veg Burger', 'Fries', 'Coca-Cola', 'Cheese Burger',
       'Chicken Burger', 'Custom', 'Falafel Burger'], dtype=object)

In [48]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14066 entries, 0 to 14066
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Day_Count                14066 non-null  int64
 1   Day                      14066 non-null  object
 2   StoreID                  14066 non-null  object
 3   ProductName              14066 non-null  object
 4   Product_Calorie          14066 non-null  int64
 5   Promo_applied            14066 non-null  int64
 6   specials                 14066 non-null  int64
 7   mods                     14066 non-null  int64
 8   Amt                      14066 non-null  float64
 9   weather                  14066 non-null  object
 10  Inflation_Percentage     14066 non-null  float64
 11  Unemployment_Percentage  14066 non-null  float64
dtypes: float64(3), int64(5), object(4)
memory usage: 1.4+ MB

In [49]:
(df_train.groupby(['Day_Count','StoreID'])['weather'].nunique()>1).any()

np.True_

In [50]:
df_train['weather'] = df_train.groupby(['Day_Count', 'StoreID'])['weather'].transform(lambda x: x.mode()[0])

In [51]:
(df_train.groupby(['Day_Count','StoreID'])['weather'].nunique()>1).any()

np.False_

In [52]:
df_train.head(20)

,Day_Count,Day,StoreID,ProductName,Product_Calorie,Promo_applied,specials,mods,Amt,weather,Inflation_Percentage,Unemployment_Percentage
0,1,Tuesday,S001,Veg Burger,625,0,0,0,13125.0,cold,4.7,1.7
1,1,Tuesday,S001,Fries,400,0,0,0,11250.0,cold,4.7,1.7
2,1,Tuesday,S001,Coca-Cola,100,0,0,0,17680.0,cold,4.7,1.7
3,1,Tuesday,S002,Cheese Burger,800,0,0,0,7800.0,cold,4.7,1.7
4,1,Tuesday,S002,Fries,400,0,0,0,16275.0,cold,4.7,1.7
5,1,Tuesday,S002,Chicken Burger,700,0,0,0,8840.0,cold,4.7,1.7
6,1,Tuesday,S003,Fries,400,0,0,0,14325.0,humid,4.7,1.7
7,1,Tuesday,S002,Veg Burger,625,0,0,0,18000.0,cold,4.7,1.7
8,1,Tuesday,S003,Coca-Cola,100,0,0,0,25925.0,humid,4.7,1.7
9,1,Tuesday,S001,Cheese Burger,800,0,0,0,13600.0,cold,4.7,1.7
10,1,Tuesday,S002,Coca-Cola,100,0,0,0,26180.0,cold,4.7,1.7
11,1,Tuesday,S003,Cheese Burger,800,0,0,0,7200.0,humid,4.7,1.7
12,1,Tuesday,S003,Veg Burger,625,0,0,0,3187500.0,humid,4.7,1.7
13,1,Tuesday,S001,Chicken Burger,700,0,0,0,19040.0,cold,4.7,1.7
14,1,Tuesday,S003,Chicken Burger,700,0,0,0,7650.0,humid,4.7,1.7
15,2,Wednesday,S002,Fries,400,0,0,0,11925.0,cold,4.7,1.7
16,2,Wednesday,S002,Custom,100,0,0,1,0.0,cold,4.7,1.7
17,2,Wednesday,S001,Cheese Burger,800,0,0,0,10000.0,hot,4.7,1.7
18,2,Wednesday,S003,Coca-Cola,100,0,0,0,19210.0,hot,4.7,1.7
19,2,Wednesday,S003,Fries,400,0,0,0,10275.0,hot,4.7,1.7

In [53]:
df_train.to_csv('../data/train_global_preprocessed.csv', index=False)